
$linkup-box-border-solid: 1px solid #a4a4a4;
$linkup-box-background: #eee;
$linkup-box-font: normal medium/1.2 sans-serif;


table.linkup-approval-table {
    font : $linkup-box-font;
    width:100%;
    font-size: 1.0em;
    margin-bottom : 30px;
}

table.linkup-approval-table-right {
    font : $linkup-box-font;
    font-size: 1.0em;
    margin-bottom : 30px;
}

.linkup-approval-name {
    margin-bottom: 30px;
}

td.linkup-30 {
  width: 30%
}
th.linkup-70 {
  width: 70%; /* Not necessary, since only 70% width remains */
}

table.linkup-approval-table  td {
    border : $linkup-box-border-solid !important;
    padding: 0.25rem;
    text-align: left;
}

table.linkup-approval-table-right  td {
    border : $linkup-box-border-solid !important;
    padding: 0.25rem;
    text-align: left;
}


table.linkup-approval-table  tr.linkup-common {
    height : 30px;
}

table.linkup-approval-table-right  tr.linkup-common {
   height : 30px;
}


td.linkup-background {
   background : lightgray;
}
