div.linkup-main{
   margin-bottom : 0px !important;
}
table.linkup-main{
   margin-bottom : 0px !important;
}

table.linkup-sub{
   margin-top : 0px !important;
}

div.note-editing-area{
  height : 150px !important;
}

.note-editable {
  min-height: 100px !important;
}
div.note-editable {
  height: 140px !important;
}

div.note-editor{
  height : 180px !important;
}

span.o_search_panel_counter
{
  font-size: 1.2em !important;
  color: #0080FE !important;
}